/* PHASE 8: Thumbs */
.profile-friends > li {
    /* float: left; *
    /* margin: 0 0 10px 0; */
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 20% 20% 20%;

  }
  
  
 